/* page one */
/* --------------------------------------screen media query(1400 width)-------------------------------- */
@media screen and (max-width:1400px){
    .sliders{
        width:60%; 
    }
    .slider-text{
     width:40%;
    }
    .box-slide p{
        margin-top:0vh;
        font-size: 1.1em!;
        line-height: 1.5em;
    }
    .slider-text h1{
        font-size: 3em;
    }
    .slider-text .p{
       line-height: 1.3em;
    }
    .first-product .rights{
        padding:2px;
        box-sizing: border-box;
        line-height: 1em;
    }
    .product-left{
width:40%;
    }
    .product-right{
width:60%;
    }
}
/* --------------------------------------screen media query(1200 width)-------------------------------- */
@media screen and (max-width:1200px){
    .first-product{

display: flex;
flex-direction: column;
height:auto;
    }
    .first-product .rights,  .first-product .lefts{
        padding:20px;
        box-sizing: border-box;
        line-height: 1em;
        width:80%;
        margin:auto;
    }
}
/* --------------------------------------screen media query(1100 width)-------------------------------- */
@media screen and (max-width:1100px){
    .five-star{
        margin-top:10vh;
    }
    .section4 h1, .section6 h1, .section7 h1{
       font-size: 3.5em;
    }
    .logo1{
        display: none;
    }

    .section3{
        grid-template-columns:30% 30% 30%;
   
    }
    .text h1{
font-size: 3em;
    }
    .image{
height:70vh;

    }
    .slider-content h2{
        height:15vh;
     font-weight: lighter;
     font-size: 1.5em;
        width:80%;
        line-height: 1.2em;
    }
       .slider-content img{
        height:8vh;
    }
    .section10{
        margin-top:-5vh;
    }
    .section10 .lower-text h1{
        font-size: 4em;
    }
    .section11{
        background-image:linear-gradient(#E5F5FB,#F9EEE8);
        padding:5% 0%;
        display: flex;
        flex-direction: column;
    }
    .slider-text{
        height:55vh;
        width:80%; 
        margin:auto;
    }
.sliders{
    height:80vh;
    width:80%; 
    margin:auto;
    overflow: hidden;
}
.section12 img{
    height:40vh;
    left:60%;
}
.footer{
    height:auto;
}

    .footer .footer-content{
        height:auto;
        width:100%;
        display: grid;
       grid-template-columns: 30% 30% 30% ;
    
    }
    .s4{
       display: none;
    }
    .footer-content h2{
        line-height: 2em;
        font-weight: 400;
        font-size: 1.3em;
    }
    .four p{
        text-align: center;
        font-size: 1.2em;
        line-height: 1.2em;
    }
    .nav-bar{
        position: absolute;
        width: 100% !important;
        z-index:5;
        height:100%;
    }
    .account{
        position:absolute;
        width: 100% !important;
        height:100%;
        z-index:5;
    }
    .cart{
        position: absolute;
        width: 100% !important;
        height:100%;
    }
    .nav-bar ul{
        margin-top:20%;
    }
    .extra{
        display: none;
    }
    .checkout{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .left, .right{
        width:80%;
        margin:auto;
    }
    .first-product .lefts{
width:100%;
height:80vh;
            }

    .text2 h1{
font-size: 3em;
line-height: 1.3em;
    }
    .text p{
        font-size: 1.3em !important;
            }
            .svg2{
                margin-top:-15vh;
            }
            .first-product .rights,  .first-product .lefts{
                padding:10px;
                box-sizing: border-box;
                line-height: 1em;
                width:100%;
                margin:auto;
            }
            .product-white{
                height: auto;
                width:90%;
                padding:10px;
                
            }

}

/* --------------------------------------screen media query(860 width)-------------------------------- */
@media screen and (max-width:860px){
    .section3{
        grid-template-columns:45% 45%;
        grid-template-rows:  70vh 70vh;
    }

    .section4, .section6, .section7{
        display: flex;
        flex-direction: column;
    }
    .image, .text{
        width:90%;
        margin:auto;
        height:75vh;
    }
    .background{
        height:80vh;
    }
    .bottom-text{
        height:50vh;
    }
    .section10{
        margin-top:-2vh;
    }
    .section10 .upper{
        flex-wrap: wrap;
        }
        .upper .item{
            width:45%;
        }
        .upper .item h3{
            line-height: 1.5em;
            text-align: center;
        }
        .section10 .lower img{
           width:80%;
        }
        .section10 .lower-text h1{
            font-size: 3em;
        }
        .section10 .lower-text img{
            display: none;
        }
        .section10 .lower-text p{
            color:#565D75;
            line-height: 1.5em;
            font-size: 1.3em;
        }
        .slider-text h1{
            font-size: 2.5em;
        }
        .slider-text .p{
           line-height: 1.1em;
           font-size: 1.2em;
        }
        .slider-text{
            width:100%;
            height:40vh;
        }
        .sliders{
            width:100%;
            height:90vh;
        }
        .section12 h1{
            font-size: 2.5em;
         }
         .section12{
flex-direction: column;
        
        }
        .product-white{
flex-direction: column;
            
        }
        .product-left, .product-right{
            margin: auto;
width:80%;
padding:10px 50px;
         }
        .section12{
            height:auto;
        display: grid;
        grid-template-rows: 30vh 30vh;
        grid-template-columns: 80%;
        }
        .section12 img{
            position:relative;
            top:0;
            left:0;
        }
        .footer .footer-content{
            height:auto;
            width:100%;
            display: grid;
           grid-template-columns:50% 50%
        
        }
        .s4{
            display: block;
        }
        .first-product .rights,  .first-product .lefts{
            padding:20px;
            box-sizing: border-box;
            line-height: 1em;
            width:100%;
            margin:auto;
        }

.four h1{
    z-index: 2;
    font-size: 2.3em;
    font-weight: 600;
    letter-spacing: -3px;
    line-height: 1.5em;

}
}
/* --------------------------------------screen media query(600 width)-------------------------------- */
@media screen and (max-width:600px){
    .five-star{
        margin-top:5vh;
    }
    .text{
        width:100%;
        margin:auto;
    }
    .image{
        height:45vh;
        width:80%;
        margin:auto;
    }
    .section2-content{
        line-height: 1.7em;
    }
    .section2-content p{
        font-size: 1em;
    }
    .section3{
        grid-template-columns:80%;
        margin:auto;
    }
    .slider-content h2{
        height:12vh;
     font-size: 1.2em;
        line-height: 1.2em;
    }
       .slider-content img{
           margin-top:5vh;
        height:4vh!important;
    }
    .section10 .upper{
    flex-direction: column;
        }
        .section10{
            margin-top:-5vh;
            background: #FDF8F5;
            width:100%;
        }
        .content-svg svg{
            margin-top:10vh;
        }
        .upper .item{
            width:70%;
            height:38vh;
        }
        .bottom-text h1{
            font-size: 2.5em;
            letter-spacing: -2px;
            text-align: center;
         }
         .bottom-text span{
            text-align: center;
         }
        .section10 .lower-text p{
            color:#565D75;
            line-height: 1.2em;
            font-size: 1.1em;
            text-align: center;
        }
        .background{
            height:60vh;
        }
        .section10 .lower-text h1{
            font-size: 2em;
        }
        .slide{
            padding:10px;
            box-sizing: border-box;
            display: grid;
            grid-template-columns:100%;
            grid-template-rows:32% 32% 32%;
            grid-gap:1%;
            margin-left:1%;
        }
        .slider-text{
            height:45vh;
            padding:20px;
        }
        .slider{
            height:auto;
            
        }
        .slide .ext{
            display: none;
        }
        .box-slide{
        padding:5px 10px;
        }
        .box-slide p{
            font-size: .9em;
        }
    .effect h1{
        font-size: 3.5em;
        font-weight: 600;
        line-height: 1.5em;
        text-align: center;
    }
    .effect p{
        z-index:2;
        font-size: 1.2em;
        line-height: 1.5em;
    }
    .effect button{
        font-size: 1em;
        font-weight: bolder;
        padding:15px 30px;
    }  
    .bottle1, .bottle2, .bottle3, .bottle4{
        height:32vh;
    }
    .footer .footer-content{
        height:auto;
        width:100%;
        display: grid;
       grid-template-columns: 80%;
    
    }
    .left, .right{
        width:100%;
        margin:auto;
    }
    .product-right p{
        font-size: 1.1em;
        line-height: 1.1em;
    }
    .product-left, .product-right{

width:100%;
padding:10px 10px;
     }
}
    /* --------------------------------------screen media query(600 width)-------------------------------- */
@media screen and (max-width:680px){
    .section12{
        height:auto;
    display: grid;
    grid-template-rows: 40vh 23vh;
    grid-template-columns: 80%;
    }
    .product-left, .product-right{
        margin: auto;
width:90%;
padding:10px 30px;
     }
     .product-left .float{
         height:7vh;
     }
}
/* page two */
/* --------------------------------------screen media query(1400 width)-------------------------------- */
@media screen and (max-width:1400px){
    .hr hr{
        height:6px;
        width:60%;
        
    }
}
/* --------------------------------------screen media query(1100 width)-------------------------------- */
@media screen and (max-width:1100px){
    .svg2{
    opacity: 0;
    }
.join-the-club{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-rows: 60vh;
    grid-template-columns:30% 30% 30%  ;
    justify-content: space-around;
}
.sec3-up {
    height: 80%;
 }
 .sec3-up button{
    padding:10px;
}
.sec3-dn{
    height:20%;
    padding-top:30px;
    box-sizing: border-box;
}
.sec3-dn ul{
padding:0;
}
.sec3-dn h1{
    margin-top:10px!important;
     font-size: 1.1em;
}
.fresh-mint, .The-Duo, .berry-twist, .brush-by-bite, .charcole, .twist, .w-charcole,.mint-active  {
    padding:2% 3%;
    box-sizing: border-box;
    width: 100%;
    grid-template-columns: 55% 50%;
    grid-template-rows: 70vh ;
    
    }
.fresh-mint h1, .The-Duo h1, .berry-twist h1, .brush-by-bite h1, .charcole h1, .twist h1, .w-charcole h1, .mint-active h1 {
    color:#172345;
    font-size: 2em;
}

.footer{
    height:auto;
}

.section12 img{
height:40vh;
}

    .footer .footer-content{
        height:auto;
        width:100%;
        display: grid;
       grid-template-columns: 30% 30% 30% ;
    
    }
    .s4{
       display: none;
    }
    .footer-content h2{
        line-height: 2em;
        font-weight: 400;
        font-size: 1.3em;
    }

}

/* --------------------------------------screen media query(970 width)-------------------------------- */
@media screen and (max-width:970px){
    .hr{
        font-size: 2.3em;
    
    }
    .join-the-club{
        display: grid;
        height: auto;
        width: 100%;
        grid-template-rows: 70vh 70vh;
        grid-template-columns:45% 45%;
        justify-content: space-around;
    
    }
    .section6 .text2 p{
        line-height: 2em;
    }
    .form h2{
        font-size: 2.5em !important;
    }
}

/* --------------------------------------screen media query(860 width)-------------------------------- */
@media screen and (max-width:830px){
    .hr{
        font-size: 2em;
    }
    .hr hr{
        height:6px;
        width:45%;
        
    }
    .form{
        width: 80% !important;;
    }
    .fresh-mint, .The-Duo, .berry-twist, .brush-by-bite, .charcole, .twist, .w-charcole,.mint-active  {
        padding:2% 3%;
        box-sizing: border-box;
        width: 90%;
        margin:auto;
        grid-template-columns:90%;
        grid-template-rows: 70vh auto;
        margin-bottom: 3vh;;
        
        }
    .footer .footer-content{
        height:auto;
        width:100%;
        display: grid;
       grid-template-columns:50% 50%
    
    }
    .s4{
        display: block;
    }
    .section12{
        height:auto;
    display: grid;
    grid-template-rows: 30vh 30vh;
    grid-template-columns: 80%;
    }
    .section12 img{
        position:relative;
        top:0;
        left:0;
    }
    .section6{
        margin-top:0vh;
    }
}
/* --------------------------------------screen media query(650 width)-------------------------------- */
@media screen and (max-width:650px){
    .hr{
flex-direction: column;
    font-size: 2em;
    }
    .join-the-club{
        display: grid;
        height: auto;
        width: 100%;
        grid-template-rows: 60vh 60vh 60vh;
        grid-template-columns:80%;
        justify-content: space-around;
    }
    .footer .footer-content{
        height:auto;
        width:100%;
        display: grid;
       grid-template-columns: 80%;
    
    }
    .left, .right{
        width:100%;
        margin:auto;
    }
    .section12{
        height:auto;
    display: grid;
    grid-template-rows: 40vh 23vh;
    grid-template-columns: 80%;
    }
    .product-right .float {
        font-size: 1em;
        height:20vh;
        flex-direction: column;
        line-height: 1.1em;
    }
    .first-product .lefts{
        padding-top:15%;
        box-sizing: border-box;
    }
    .reflect-img{
        height: 80%;

        width:80%;
        background-size: 70% 100%;
        background-repeat: no-repeat;
    }
}

/*page three */

/******** (At Screen 500) ******/

@media screen and (max-width:500px){
    .video{
        margin-left: 10%;
    }
    .text-two h4{
        font-size: .8em;
    }
    .d-text p{
        font-size: .55em;
        padding-left: 1em;
    }
    .team img{
        height: 15vh;
        width: 60%;
    }
    .team h2{
        font-size: .9em;
    }
    .product-right .float {
        font-size: 1em;
        height:20vh;
        flex-direction: column;
        line-height: 1.1em;
    }
    .section6 .text2 p{
        line-height: 1.2em;
        font-size: 1em;
    }

}
/******** (At Screen 400) ******/

@media screen and (max-width:400px){
    .text-two{
        height: 95vh;
    }
    .text-two h4{
        font-size: .7em;
    }
    .our-defence{
        height: 90vh;
    }
    .our-defence h1{
        font-size: 1.2em;
    }
    .d-text p{
        width: 100%;
        font-size: .45em;
    }
    .d-text h2{
        font-size: .7em;
    }
}


/* --------------------------------------screen media query(1100 width)-------------------------------- */
@media screen and (max-width:1100px){
.footer{
    height:auto;
}
.text-two{
    position: sticky;
    width:100%;
}
.tv-two{
    width:80%;
}
.our-defence{
    height:100vh;
}
.three{
    width:100%;
}
.d-text div{
    overflow: hidden;
    font-size: .9em;
    line-height: 1.2em;
    width: 80vh;
    height:55vh;
    margin: auto;
}
.team .img-v{
    width:20% !important;
    }
    .footer .footer-content{
        height:auto;
        width:100%;
        display: grid;
       grid-template-columns: 30% 30% 30% ;
    
    }
    .section12 img{
    height:40vh;
    }
    
    .s4{
       display: none;
    }
    .footer-content h2{
        line-height: 2em;
        font-weight: 400;
        font-size: 1.3em;
    }

}

/* --------------------------------------screen media query(820 width)-------------------------------- */
@media screen and (max-width:820px){
    
    .header{
        height: 70vh;
    }
    .header img{
        height: 95.1vh;
    }
    .header h1{
        padding-top: 2em;
        font-size: 3.5em;
    }
    .header p{
        font-size: 1.3em;
        padding-top: 1em;
    }
    .text h5{
        text-align: center;
        width: 90%;
        color:#172345;
    }
    .text-two h1{
        font-size: 2em;
    }
    .text-two p1{
        font-size: .85em;
        padding-top: 1.5em;
    }
    .video{
      margin:auto;
    }
    .showcase6{
        width:100%;
        grid-template-columns: 40% 60%;
        grid-column-gap: 5%;
    }

    .tv-three h1{
        font-size: 2.1em;
        padding-left: .8em;
    }
    .border{
        margin-left: 6%;
    }
    .tv-three p{
        font-size: .9em;
        width:60%;
    }
   .tv-three img{
       height: 29vh;
   }
    .ing h3{
        font-size: 1.1em;
        padding-left: 1em;
    }
    .ing p{
        padding-left: 1em;
        font-size: .75em;
        width: 70%;
    }
    .our-defence h1{
        font-size: 2em;
        padding-top: 1em;
    }
    .our-defence{
        position:relative;
        height:150vh;
        margin:0;
    }
    .d-text{
        position:absolute;
        top:30vh;
        width: 100%;
        flex-direction: column;
    }
    .d-text img{
        width:50%;
        height:40vh;
       margin:auto;
    }
    .tv-three img{
        width:90%;
    }
    .d-text div{
        font-size: 1em;
        line-height: 1.2em;
        text-align: center;
        width: 70%;
        height:90vh;
        margin: auto;
    }
    .d-text h2{
        font-size: 1.1em;
    }
    .team .img-v{
        width:20% !important;
        }
    .our-team{
        width: 100%;
        height: 70vh;
        margin-top:20vh;
        display: grid;
        grid-template-rows: auto auto 60%;
        text-align: center;
    }
    .team{
        width: 90%;
        
    }
    .footer .footer-content{
        height:auto;
        width:100%;
        display: grid;
       grid-template-columns:50% 50%
    
    }
    .s4{
        display: block;
    }
    .section12{
        height:auto;
    display: grid;
    grid-template-rows: 30vh 30vh;
    grid-template-columns: 80%;
    }
    .section12 img{
        position:relative;
        top:0;
        left:0;
    }
}

/* --------------------------------------screen media query(650 width)-------------------------------- */
@media screen and (max-width:650px){
    .header img{
        width: 50%;
        top: -35%;
        height: 94.5vh;
    }
    .text h5{
        font-size: 1.5em;
        width: 90%;
    }
    .text-two h1{
        font-size: 2em;
    }
    .header h1{
        font-size: 2.8em;
    }
    .header p{
        font-size: 1.1em;
    }
    .header img{
        width: 60%;
        left: 20%;
    }
    .text h5{
        font-size: 1.2em;
        width: 95%;
        line-height: 1.5em;
    }
    .video{
        width: 90%;
        margin-left: 5%;
    }
   .showcase6{
      display:flex;
      flex-direction:column
   }
   .text-two h1{
       font-size: 1.7em;
   }
   .text-two p1{
       font-size: .9em;
       padding-top: .5em;
   }
   .our-defence{
       margin-top: 20vh;
       grid-template-rows: 20% 40%;
   }
   .d-text{
       margin-top: -10vh;
   }
   .our-defence h1{
       padding-top: .5em;
   }
   .d-text p{
       width: 100%;
       font-size: .65em;
   }
   .team{
       width: 100%;
       margin-left: -14%;
   }
   .team img{
       height: 22vh;
       width: 80%;
} 
    .tv-three p{
        font-size: .9em;
        width:70%;
    }
    .text-two{
        position: relative;
        margin:auto;
    }
    .d-text{
        width: 90%;
        margin-left: 5%;
    }
    .d-text p{
        font-size: .75em;
    }
    .tv-three img{
        height: 20vh;
    }
    .team{
        width: 90%;
        margin-left: -7%;
    }
    .our-defence{
        grid-template-rows: 10% 55%;
    }
    .section12 img{
        height:20vh;
        position:relative;
        top:5vh;
        margin:auto;
        left:0;
    }
    .team .img-v{
    width:30% !important;
    }
    .footer .footer-content{
        height:auto;
        width:100%;
        display: grid;
       grid-template-columns: 80%;
    
    }
    .left, .right{
        width:100%;
        margin:auto;
    }
    .section12{
        height:auto;
    display: grid;
    grid-template-rows: 40vh 23vh;
    grid-template-columns: 80%;
    }
}